server {
    listen ${PORT};

    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    # SPA support
    location / {
        try_files $uri $uri/ /index.html;
    }

    # API proxy (env-configurable)
    location /api/ {
        proxy_pass ${BACKEND_URL};
        proxy_http_version 1.1;

        proxy_set_header Host $proxy_host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}